/*input{
    outline: none;
}
input[type=color]{
    padding: 0 10px;
    height: 40px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

button:hover{
    width: 180px;
   
}

*/

button{
    cursor: pointer;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    background-color: var(--minhaCor);
    transition: width .4s;
}

h1{
    text-align: center;
}

form{
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:600px){
    form{
        width: 98%;
    }
}